---
import { getCollection } from "astro:content";


import Layout from "../../layouts/page.astro";

export async function getStaticPaths() {

    // TODO SANITY.io data.newsletter for generating the slug paths
    const schedule = await getCollection('schedule');

    return schedule.map((event) => {
        return {
            params: { slug: event.slug },
            props: { event }
        }
    })
}

const { event } = Astro.props;
const { Content } = await event.render();
---

<Layout>
    <section class="flex flex-col lg:flex-row gap-6 justify-center">
        <div class="lg:w-4/5 md:px-32 py-6 px-10 flex flex-col gap-6 items-center text-center lg:text-left">
            <article class="
                max-w-[60rem]
                prose
                prose-h1:font-bold
                prose-h1:text:xl
                prose-a:text-blue-300
                prose-p:text-justify
                prose-img:rounded-xl
            ">
                {
                    event.data?.image && 
                    <figure>
                        <img src={event.data?.image} alt="Cover image" width="1000" height="500" class="aspect-video object-cover" />
                    </figure>
                }
                <div class="space-y-2 not-prose mb-6 lg:items-start">
                    <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl lg:leading-[3.5rem]">
                        {event.data?.title}
                    </h1>
                    <div class="flex lg:flex-row flex-col space-x-2 text-gray-500 dark:text-gray-400">
                        <span>By {event.data?.author}</span>
                        <span>•</span>
                        <span>Posted on 
                            <time datetime={event.data.date.toISOString()}>
                                {event.data.date.toDateString()}
                            </time>
                        </span>
                    </div>
                    <div class="flex space-x-2">
                        <!-- Social Media links -->
                    </div>
                </div>
                <Content />
            </article>
        </div>

        <!-- Sidebar  -->
        <aside class="lg:w-1/5 p-4 text-center items-center lg:items-start lg:text-left">
            <div class="sticky top-0 space-y-6">

                <!-- Related Posts -->
                <div class="space-y-2">
                    <h3 class="text-lg font-semibold">
                        Related Posts
                    </h3>
                    <ul class="space-y-2">
                        <li>
                            <a href="" class="text-blue-300 hover:underline">
                                First suggestion
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-blue-300 hover:underline">
                                Another one
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-blue-300 hover:underline">
                                Least Likely
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- About the Author, -->
                <div class="space-y-2">
                    <h3 class="text-lg font-semibold">
                        More About {event.data?.author}
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                        {event.data?.authorExcerpt || "Lorem ipsum dolor sit amet, consectetur adipiscing elit."}
                    </p>
                </div>

                <!-- Subcribe to Our Newsletter -->
                <div class="space-y-2">
                    <!-- TODO SANITY.io data.heading -->
                    <h2 class="text-yellow-500 text-lg font-medium title-font mb-5">
                        Stay Up-todate with Events
                    </h2>
                    <!-- TODO SANITY.io data.body -->
                    <form action="/newsletter/confirmation" method="post" class="space-y-2">
                        <div class="relative mb-4">
                            <label for="name" class="leading-7 text-sm text-gray-400">
                                Name
                            </label>
                            <input type="text" id="name" name="name" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus:ring-yellow-500 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" required>
                        </div>
                        <div class="relative mb-4">
                            <label for="email" class="leading-7 text-sm text-gray-400">
                                Email
                            </label>
                            <input type="email" id="email" name="email" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus:ring-yellow-500 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" required>
                        </div>
                        <button type="submit" class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-300 hover:text-black rounded text-lg">
                            Subscribe
                        </button>
                        <p class="text-xs mt-3">
                            Disclamiere: We will not share your email address with anyone else.
                        </p>
                    </form>
                </div>
            </div>
        </aside>
    </section>
</Layout>
