---
// import { map } from "astro/zod"

// TODO SANITY.io data.siteMetadata.navItems
const navItems = [
	{
		path: "/",
		label: "Home",
	},
	{
		path: "/schedule",
		label: "Schedule",
	},
	{
		path: "/newsletter",
		label: "Newsletter",
	},
]

const digitalLitResources = [
	{
		path: "https://www.youtube.com/watch?v=sOJkfflN8O4",
		label: "Learn Zoom's Mobile App",
	},
	{
		path: "https://edu.gcfglobal.org/en/topics/",
		label: "GCFGlobal",
	},
	{
		path: "https://freelearninglist.org/",
		label: "Free Learning List",
	},
	{
		path: "https://www.coursera.org/",
		label: "Coursera",
	},
	{
		path: "https://www.khanacademy.org",
		label: "Khan Academy",
	},
	{
		path: "https://lifehacker.com/",
		label: "LifeHacker",
	},
	{
		path: "https://reddit.com",
		label: "Reddit",
	},
	{
		path: "https://www.reddit.com/r/Scams/comments/n00o17/rscams_common_scam_master_post/",
		label: "Learn about common Scams",
	},
	{
		path: "https://www.allthingssecured.com/tutorials/facebook-privacy-settings/",
		label: "Optimize Your Facebook Privacy",
	},
	{
		path: "https://www.ted.com/playlists/171/the_most_popular_talks_of_all",
		label: "Popular TED.talks",
	},
]

const hardwardResources = [
	{
		path: "https://www.reddit.com/r/iphonedeals/",
		label: "IPhone Deals",
	},
	{
		path: "https://www.reddit.com/r/androiddeals/",
		label: "Android Deals",
	},
	{
		path: "https://www.backmarket.com/en-us",
		label: "Backmarket",
	},
]

const androidResources = [
	{
		path: "https://support.google.com/android",
		label: "Google Support",
	},
	{
		path: "https://www.youtube.com/watch?v=aYV0ZPvPaCM",
		label: "Android Tips & Tricks",
	},
	{
		path: "https://edu.gcfglobal.org/en/androidbasics/",
		label: "GCF Android Basics",
	},
	{
		path: "https://www.youtube.com/results?search_query=android+basics",
		label: "Youtube, Android Basics",
	},
	{
		path: "https://wallhaven.cc/",
		label: "Wallhaven",
	},
	{
		path: "https://f-droid.org/F-Droid.apk",
		label: "F-Droid",
	},
	{
		path: "https://drive.google.com/file/d/1A0tEUQvFvqmbw_Ha5BrGJtG69ScWqfX5/view?usp=share_link",
		label: "F-Droid Getting Started",
	},
	{
		path: "https://drive.google.com/file/d/1AKR-QFg94Z03dK0NQo7eBlwWgbt-Zrr4/view?usp=share_link",
		label: "F-Droid ViMusic",
	},
	{
		path: "https://www.tomsguide.com/how-to/how-to-speed-up-your-android-phone-or-tablet",
		label: "F-Droid Spotube",
	},
]
const iphoneResources = [
	{
		path: "https://support.apple.com/guide/iphone/welcome/ios",
		label: "User Guide",
	},
	{
		path: "https://www.youtube.com/watch?v=lEKfxCeBJP0",
		label: "iPhone 13 Guide",
	},
	{
		path: "https://www.youtube.com/results?search_query=iphone+basics",
		label: "Youtube, iPhone Basics",
	},
	{
		path: "https://edu.gcfglobal.org/en/iphonebasics/",
		label: "GCF iPhone Basics",
	},
]
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Font -->
    <!-- TODO SANITY.io data.siteMetadata.font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

		<!-- Allows for RSS auto discovery -->
		<link rel="alternate" href="rss.xml" type="application/rss+xml" title="RSS Feed for raiseup.la">
		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

    <!-- TODO SANITY.io data.siteMetadata.title -->
		<title>Raise Up Demo</title>
	</head>
	<body>

		<!-- Change bg color to match brand color -->
		<header class="text-gray-400 bg-primary body-font">
			<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
				<nav class="flex lg:w-2/5 flex-wrap items-center text-center md:ml-auto">
					{
						navItems.map((item) => {
							return <a class="ml-5 lg:mr-5 lg:ml-0 hover:text-gray-900" rel={item.path} href={item.path}>{item.label}</a>
						})
					}
				</nav>
				<a href="/" rel="home" class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-yellow-500 lg:items-center lg:justify-center mb-4 md:mb-0">

					<!-- TODO COLORS -->
					<svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-black p-2 bg-yellow-500 rounded-full">
						<path d="m21.706 5.292-2.999-2.999A.996.996 0 0 0 18 2H6a.996.996 0 0 0-.707.293L2.294 5.292A.994.994 0 0 0 2 6v13c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6a.994.994 0 0 0-.294-.708zM6.414 4h11.172l1 1H5.414l1-1zM14 14v3h-4v-3H7l5-5 5 5h-3z"/>
					</svg>
					<span class="ml-3 text-xl">Raise UP</span>
				</a>
				<div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">

					<!-- TODO COLORS -->
					<!-- <a href="#newsletter-signup" class="inline-flex items-center bg-blue-500 border-0 py-1 px-3 focus:outline-none hover:bg-blue-200 rounded text-white hover:text-black mt-4 md:mt-0">
						Signup
					</a> -->
				</div>
			</div>
		</header>

		<!-- MAIN CONTENT -->
		<slot />

		<!-- Change bg color to match brand color -->
		<footer class="text-gray-400 bg-primary body-font">
			<!-- TODO Integrate The following menu listings with SANITY.io data.siteMetadata.footerLinks -->
			
			<!-- Recources -->
			<div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
				<div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10 hidden lg:block">
					<a href="/" rel="home" class="flex title-font font-medium items-center md:justify-start justify-center text-yellow-500">
						<svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-black p-2 bg-yellow-500 rounded-full">
							<path d="m21.706 5.292-2.999-2.999A.996.996 0 0 0 18 2H6a.996.996 0 0 0-.707.293L2.294 5.292A.994.994 0 0 0 2 6v13c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6a.994.994 0 0 0-.294-.708zM6.414 4h11.172l1 1H5.414l1-1zM14 14v3h-4v-3H7l5-5 5 5h-3z"/>
						</svg>
						<span class="ml-3 text-xl">Raise UP</span>
					</a>
					<p class="mt-2 text-sm text-gray-500">Empowering second chances through education and technology.</p>
				</div>
				<div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
					<div class="lg:w-1/4 md:w-1/2 w-full px-4">
						<h2 class="title-font font-medium text-yellow-500 border-b-2  tracking-widest text-sm mb-3">Digital Literacy</h2>
						<nav class="list-none mb-10">
							{
								digitalLitResources.map((item) => {
									return (
										<li>
											<a href={item.path}  target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-gray-800">{item.label}</a>
										</li>
									)
								})	
							}
						</nav>
					</div>
					<div class="lg:w-1/4 md:w-1/2 w-full px-4">
						<h2 class="title-font font-medium text-yellow-500 border-b-2 tracking-widest text-sm mb-3">Acquiring Hardware</h2>
						<nav class="list-none mb-10">
							{
								hardwardResources.map((item) => {
									return (
										<li>
											<a href={item.path}  target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:text-gray-800">{item.label}</a>
										</li>
									)
								})	
							}
						</nav>
					</div>
					<div class="lg:w-1/4 md:w-1/2 w-full px-4">
						<h2 class="title-font font-medium text-yellow-500 border-b-2  tracking-widest text-sm mb-3">Android </h2>
						<nav class="list-none mb-10">
							{
								androidResources.map((item) => {
									return (
										<li>
											<a href={item.path}  target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:text-gray-800">{item.label}</a>
										</li>
									)
								})	
							}
						</nav>
					</div>
					<div class="lg:w-1/4 md:w-1/2 w-full px-4">
						<h2 class="title-font font-medium text-yellow-500 border-b-2 tracking-widest text-sm mb-3">iPhone</h2>
						<nav class="list-none mb-10">
							{
								iphoneResources.map((item) => {
									return (
										<li>
											<a href={item.path}  target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-gray-800">{item.label}</a>
										</li>
									)
								})	
							}
						</nav>
					</div>
				</div>
			</div>

			<!-- Copywright -->
			<div class="bg-opacity-75">
				<div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
						<!-- Logo -->
						<a href="/" rel="home" class="flex title-font font-medium items-center md:justify-start justify-center text-yellow-500">
							<!-- TODO COLORS -->
							<svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-black p-2 bg-yellow-500 rounded-full">
								<path d="m21.706 5.292-2.999-2.999A.996.996 0 0 0 18 2H6a.996.996 0 0 0-.707.293L2.294 5.292A.994.994 0 0 0 2 6v13c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6a.994.994 0 0 0-.294-.708zM6.414 4h11.172l1 1H5.414l1-1zM14 14v3h-4v-3H7l5-5 5 5h-3z"/>
							</svg>
							<span class="ml-3 text-xl">Raise UP</span>
						</a>
						<!-- Copyright -->
						<p class="text-sm text-gray-400 sm:ml-6 sm:mt-0 mt-4">© 2024 PuffinCode —
							<a href="https://github.com/kcanamar" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">@kcanamar</a>
						</p>
						<p class="text-sm text-gray-400 sm:ml-6 sm:mt-0 mt-4">Powered by -
							<a href="https://astro.build" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">Astro</a>
							<!-- <a href="https://www.sanity.io/" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">Sanity</a> -->
							<a href="https://tailwindcss.com/" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">Tailwind</a>
							<a href="https://www.netlify.com/" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">Netlfiy</a>
							<!-- TODO add Mailing service -->
						</p>
						<!-- Social Links -->
						<span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
							<!-- Facebook -->
							<a  target="_blank" rel="noopener noreferrer" class="text-gray-400">
								<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
									<path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
								</svg>
							</a>
							<!-- X -->
							<a  target="_blank" rel="noopener noreferrer" class="ml-3 text-gray-400">
								<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
									<path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
								</svg>
							</a>
					
							<!-- Instagram -->
							<a  target="_blank" rel="noopener noreferrer" class="ml-3 text-gray-400">
								<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
									<rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
									<path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
								</svg>
							</a>
							<!-- LinkedIn -->
							<a  target="_blank" rel="noopener noreferrer" class="ml-3 text-gray-400">
								<svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
									<path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
									<circle cx="4" cy="4" r="2" stroke="none"></circle>
								</svg>
							</a>
						</span>

				</div>
			</div>
		</footer>
	</body>
</html>